NEWSLETTER_SEND_ENABLED=false
NEWSLETTER_TIMEZONE=America/New_York
NEWSLETTER_TARGET_HOUR_LOCAL=8
NEWSLETTER_MAX_ITEMS=8
NEWSLETTER_MIN_ITEMS=3
NEWSLETTER_LOOKBACK_HOURS=36
NEWSLETTER_MONDAY_LOOKBACK_HOURS=84
NEWSLETTER_REVIEW_LOOKBACK_HOURS=168
NEWSLETTER_MIN_REVIEW_ITEMS=5
NEWSLETTER_OUTPUT_DIR=.newsletter-outbox
NEWSLETTER_FROM=
NEWSLETTER_TO=
NEWSLETTER_CC=
NEWSLETTER_REPLY_TO=
RESEND_API_KEY=
